@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #D9800B;
    --sub-color: #D2986A;
    --base-color: #FFF6EC;
    --black: #4B4D37;
    --dark-gray: #B0ACAC;
    --gray: #E0DEDE;
    --light-gray: #F5F5F5;
    --white: #FFFFFF;
    /* フォントを後から実装する */
}

/* チェックマークを白色にするカスタムチェックボックス */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--dark-gray);
    background-color: var(--white);
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
