@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #D9800B;
    --sub-color: #D2986A;
    --base-color: #FFF6EC;
    --black: #4B4D37;
    --dark-gray: #B0ACAC;
    --gray: #E0DEDE;
    --light-gray: #F5F5F5;
    --white: #FFFFFF;
    /* フォントを後から実装する */
}
